.storybook-footer {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.storybook-footer--primary {
    color: white;
    background-color: #082da8;
}
.storybook-footer--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-footer--full {
    width: 100%;
}
.storybook-footer--medium {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
